<div id="app">
  {{ message }}
  <p v-if="visabled" v-bind:title="message">V-BIND</p>

  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>

  <button v-on:click="reverseMessage">逆转消息</button>
  <br/>
  <input v-model="message" />


  <hr/>

  <ul>
    <items v-for="i in todos" v-bind:todos="i"></items>
  </ul>

</div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script>

  Vue.component('items', {
    props: ['todos'],
    template: '<li>{{ todos.text }}</li>'
  });

  var app = new Vue({
    el: '#app',

    data: {
      message: 'Hello Vue!',
      visabled: true,
      todos: [{
          text: '学习 JavaScript'
        },
        {
          text: '学习 Vue'
        },
        {
          text: '整个牛项目'
        }
      ]
    },

    methods: {
      reverseMessage: function() {
        this.message = this.message.split('').reverse().join('');
      }
    }
  })
</script>
